.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    .items {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 0;
        .link {
            text-decoration: none;
            color: inherit;
            font-weight: 500;
        }
    }
}

@media (max-width: 640px) {
  .header {
    .items {
      gap: 0.5rem;
    }
  }
}