.tableContainer {
    overflow: auto;
    height: 100%;
    justify-content: start;
    padding: 1rem;
    .input {
        max-width: 20rem;
    }
}

.table {
    min-height: 60vh;
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
    }
    .cell {
        max-width: 10rem;
        text-align: justify;
    }
    .eye {
        cursor: pointer;
    }
}
.nav {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
    justify-content: center;
    overflow: auto;
}

.productImage {
    width: 3rem;
    height: 3rem;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    margin: 1rem 0;
    .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 640px) {
    .tableContainer {
      padding: 2rem;
    }
  }